body{
	font-family: sans-serif;
	background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#pagina{
	background-color: white;
	margin: auto;
	margin-top: 20px;
	width: 80%;
	padding: 20px;
	border: solid 1px green;
	border-radius: 20px;
}

#paginacontato{
	background-color: white;
	margin: auto;
	margin-top: 20px;
	width: 50%;
	padding: 20px;
	border: solid 1px green;
	border-radius: 20px;
}

header{
	text-align: center;
	font-size: 2em;
	color: green;
}

#map{
	border: solid 1px blue;
	margin: 0px;
	width: 800px; 
	height: 600px; 
	margin: auto;
}

a{
	
}

footer{
	text-align: center;
	font-size: 0.8em;
	color: blue;
}
